.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
.idea/misc.xml
.idea/vcs.xml
bin/Debug/opengl.exe
bin/Debug/stderr.txt
.idea/workspace.xml
.idea/workspace.xml
bin/Debug/stdout.txt
.idea/workspace.xml